<form action="<%= users_url %>" method="post">
  

  <label for="">Email:</label>
  <input type="text" name="user[email]" value="">

  <label for="">Password:</label>
  <input type="text" name="user[password]" value="">


  <input type="submit" name="" value="Submit">
</form>
