<form class="" action="<%= session_url %>" method="post">
  <input type="text" name="user[email]" value="">
  <input type="text" name="user[password]" value="">

  <input type="submit" name="" value="Login">
</form>
