<form action="<%= bands_url %>" method="post">

  <label for="">Name Me Human:
    <input type="text" name="band[name]" value="">
  </label>

  <label for="">Make my Day. Submit me.
    <input type="submit" name="" value="Submit Band">
  </label>
</form>
